In [1]:
import pandas as pd
import numpy as np
import sys
import time as tm
from allocation_solution_df import *
from vaccine_alloc_instance_df import *
from solvers.offline_maxutility_df import *
from solvers.online_maxutility_df import *

In [3]:
#importing agents data
agents_type_df = pd.read_pickle('data/agents_type.pkl')
availability_df = pd.read_pickle('data/availability_df.pkl')
belongingness_df = pd.read_pickle('data/belongingness_df.pkl')

#importing hospitals data
daily_supply_df = pd.read_pickle('data/daily_supply.pkl')
overall_quota_df = pd.read_pickle('data/overall_quota.pkl')
Hospital_Data_Chennai_May_2022_df = pd.read_pickle('data/Hospital_Data_Chennai_May_2022.pkl')

In [4]:
daily_supply_df

           Date  Total_available_capacity_per_day
0   01-05-2022                                147
1   02-05-2022                                189
2   03-05-2022                                178
3   04-05-2022                                214
4   05-05-2022                                 80
5   06-05-2022                                537
6   07-05-2022                                495
7   08-05-2022                                109
8   09-05-2022                                170
9   10-05-2022                                220
10  11-05-2022                                240
11  12-05-2022                                238
12  13-05-2022                                609
13  14-05-2022                                166
14  15-05-2022                                 58
15  16-05-2022                                177
16  17-05-2022                                125
17  18-05-2022                                147
18  19-05-2022                                240
19  20-05-2022                                575
20  21-05-2022                                416
21  23-05-2022                                192
22  24-05-2022                                641
23  25-05-2022                                468
24  26-05-2022                                415
25  27-05-2022                                418
26  28-05-2022                                 88
27  29-05-2022                                 88
28  30-05-2022                                459
29  31-05-2022                                147

In [5]:
distances_df = pd.read_pickle('data/Distance_Data.pkl')

In [19]:
number_zip = len(dict.fromkeys(Hospital_Data_Chennai_May_2022_df['Zip_Code'].values.tolist()))
number_zip

19

In [22]:
fake_zips = [100001+i for i in range(number_zip)]

In [23]:
anon_zip = dict(zip(list(dict.fromkeys(Hospital_Data_Chennai_May_2022_df['Zip_Code'].values.tolist())),fake_zips))

In [24]:
anon_zip

{600034: 100001,
 600089: 100002,
 600116: 100003,
 600037: 100004,
 600085: 100005,
 600096: 100006,
 600024: 100007,
 600006: 100008,
 600035: 100009,
 600083: 100010,
 600020: 100011,
 600032: 100012,
 600004: 100013,
 600018: 100014,
 600028: 100015,
 600086: 100016,
 600106: 100017,
 600102: 100018,
 600093: 100019}

In [25]:
anon_distances_df=distances_df.replace({"Source": anon_zip, "Destination": anon_zip})

In [26]:
pd.set_option('display.max_rows', 500)
anon_distances_df

     Source  Destination  Distance
0    100013       100008      4251
1    100013       100014      2206
2    100013       100011      4867
3    100013       100007      6399
4    100013       100015      2442
5    100013       100012     10993
6    100013       100001      5633
7    100013       100009      3715
8    100013       100004     14994
9    100013       100010      9641
10   100013       100005      5174
11   100013       100016      2543
12   100013       100002     12974
13   100013       100019     10940
14   100013       100006     10173
15   100013       100018      8677
16   100013       100017      9870
17   100013       100003     17681
18   100008       100014      3105
19   100008       100011      8056
20   100008       100007      3410
21   100008       100015      4467
22   100008       100012      7933
23   100008       100001      2963
24   100008       100009      3708
25   100008       100004     12005
26   100008       100010      6653
27   100008       100005      4788
28   100008       100016      2026
29   100008       100002     12537
30   100008       100019      7951
31   100008       100006     12848
32   100008       100018      6007
33   100008       100017      6881
34   100008       100003     17245
35   100014       100011      6356
36   100014       100007      5158
37   100014       100015      2345
38   100014       100012      8856
39   100014       100001      5284
40   100014       100009      1604
41   100014       100004     14198
42   100014       100010      6844
43   100014       100005      3088
44   100014       100016      2574
45   100014       100002     10837
46   100014       100019      7782
47   100014       100006     11148
48   100014       100018      8329
49   100014       100017      9074
50   100014       100003     15545
51   100011       100007      9436
52   100011       100015      2328
53   100011       100012      7543
54   100011       100001      9840
55   100011       100009      5083
56   100011       100004     20772
57   100011       100010     10195
58   100011       100005      3213
59   100011       100016      6899
60   100011       100002      9525
61   100011       100019     12796
62   100011       100006      6777
63   100011       100018     12884
64   100011       100017     13526
65   100011       100003     14232
66   100007       100015      7263
67   100007       100012      4990
68   100007       100001      3591
69   100007       100009      4019
70   100007       100004      9573
71   100007       100010      3710
72   100007       100005      6895
73   100007       100016      4288
74   100007       100002      8329
75   100007       100019      5008
76   100007       100006     14955
77   100007       100018      5375
78   100007       100017      3968
79   100007       100003     12011
80   100015       100012      9887
81   100015       100001      7301
82   100015       100009      2544
83   100015       100004     16111
84   100015       100010      7779
85   100015       100005      3547
86   100015       100016      4360
87   100015       100002     11868
88   100015       100019      9202
89   100015       100006      9041
90   100015       100018     10345
91   100015       100017     10987
92   100015       100003     16576
93   100012       100001      8770
94   100012       100009      6210
95   100012       100004     12105
96   100012       100010      2674
97   100012       100005      7390
98   100012       100016     10724
99   100012       100002      4660
100  100012       100019      5275
101  100012       100006     12811
102  100012       100018      9455
103  100012       100017      7536
104  100012       100003      9367
105  100001       100009      3974
106  100001       100004     10802
107  100001       100010      6452
108  100001       100005      5899
109  100001       100016      3132
110  100001       100002     11071
111  100001       100019      7750
112  100001       100006     13959
113  100001       100018      5946
114  100001       100017      5678
115  100001       100003     14753
116  100009       100004     13622
117  100009       100010      5295
118  100009       100005      2408
119  100009       100016      4514
120  100009       100002      9287
121  100009       100019      6713
122  100009       100006     10468
123  100009       100018      8766
124  100009       100017      8498
125  100009       100003     13995
126  100004       100010     10263
127  100004       100005     15674
128  100004       100016     13370
129  100004       100002     11977
130  100004       100019      6034
131  100004       100006     24777
132  100004       100018      6453
133  100004       100017      6527
134  100004       100003     11246
135  100010       100005      7616
136  100010       100016      7990
137  100010       100002      4619
138  100010       100019      2657
139  100010       100006     15918
140  100010       100018      7727
141  100010       100017      5809
142  100010       100003      8905
143  100005       100016      5137
144  100005       100002      9028
145  100005       100019      9077
146  100005       100006      8767
147  100005       100018     11130
148  100005       100017     10861
149  100005       100003     13736
150  100016       100002     13148
151  100016       100019      9409
152  100016       100006     13459
153  100016       100018      7147
154  100016       100017      8339
155  100016       100003     17855
156  100002       100019      5556
157  100002       100006     14124
158  100002       100018     12796
159  100002       100017     10877
160  100002       100003      5442
161  100019       100006     18536
162  100019       100018      7795
163  100019       100017      4429
164  100019       100003      8853
165  100006       100018     18795
166  100006       100017     19551
167  100006       100003     18726
168  100018       100017      3836
169  100018       100003     15432
170  100017       100003     13323

In [27]:
anon_distances_df.to_pickle('data-anonymized/Distance_Data.pkl')

In [28]:
centers = Hospital_Data_Chennai_May_2022_df['Center_ID'].values.tolist()

In [29]:
number_center = len(dict.fromkeys(centers))

In [30]:
fake_centers = [12301+i for i in range(number_center)]

In [31]:
fake_centers_dict = dict(zip(list(dict.fromkeys(centers)),fake_centers))

In [60]:
hosp_names = Hospital_Data_Chennai_May_2022_df['Center_Name'].values.tolist()

In [61]:
number_hosp_names = len(dict.fromkeys(hosp_names))

In [64]:
fake_hosp_names = ["Hospital_"+str(i+1) for i in range(number_hosp_names)]

In [66]:
fake_hosp_dict = dict(zip(list(dict.fromkeys(hosp_names)),fake_hosp_names))

In [72]:
anon_hosp_df = Hospital_Data_Chennai_May_2022_df.replace({"Zip_Code": anon_zip, "Center_ID": fake_centers_dict,
                                                         "Center_Name": fake_hosp_dict})

In [74]:
Hospital_Data_Chennai_May_2022_df

,Date,Zip_Code,Center_ID,Center_Name,Total_available_capacity
0,01-05-2022,600034,603898,Kanchi Kamakoti Child Trust,9
1,01-05-2022,600089,617607,Srushti Hospital Pvt Ltd,86
3,01-05-2022,600116,855907,Srushti Clinic Porur,52
5,02-05-2022,600037,604136,MMRV Hospital,19
6,02-05-2022,600085,1037942,Srushti Hospital Kottupuram,29
...,...,...,...,...,...
162,30-05-2022,600089,617607,Srushti Hospital Pvt Ltd,58
164,30-05-2022,600093,580753,Sooriya Hospital,74
165,31-05-2022,600024,580742,Medway Hospitals,59
166,31-05-2022,600089,617607,Srushti Hospital Pvt Ltd,59
168,31-05-2022,600116,855907,Srushti Clinic Porur,29

In [77]:
anon_hosp_df.to_pickle('data-anonymized/hospital_data.pkl')

In [80]:
new_overall_quota_df = overall_quota_df.replace({"Center_ID": fake_centers_dict, "Center_Name": fake_hosp_dict})

In [82]:
new_overall_quota_df.to_pickle('data-anonymized/overall_quota_df.pkl')

In [ ]:
new_belongingness_df =  belongingness_df.rename(columns=fake_centers_dict)
new_belongingness_df.to_pickle('data-anonymized//belongingness_df.pkl')

In [17]:
len(dict.fromkeys(Hospital_Data_Chennai_May_2022_df['Zip_Code'].values.tolist()))

19