In [34]:
import pandas as pd
import numpy as np
import sys
import time as tm
from allocation_solution_df import *
from vaccine_alloc_instance_df import *
from solvers.offline_maxutility_df import *
from solvers.online_maxutility_df import *
from solvers.online_maxutility_df_1_by_del import *

In [35]:
n = 10
c = 2
d = 1 
q = 4
availability = [[1] for i in range(10)]
belongsToCatagory = [[1,1] for i in range(10)]
Q_d = [4]
Q_c = [2,2]
delta = [1,1,1,1/2,1/2,1/2,1/3,1/3,1/3,1/3]

In [36]:
agents_utility_value = []
for i in range(n):
    i_utility = [delta[i]]
    for j in range(d-1):
        i_utility[j+1] = i_utility[j]*delta[i]
    agents_utility_value.append(i_utility)

In [ ]:
alpha1 = 0.9
alpha2 = 0.8
alpha3 = 0.7
delta_all = 0.96

agents_utility_value = []

In [37]:
# categories = overall_quota_df['Center_ID'].values.tolist()
# days = daily_supply_df['Date'].values.tolist()
categories = [i for i in range(2)]
days = [i for i in range(1)]
# categories

In [38]:
# dict_Q_cxd = dict(zip(zip(Hospital_Data_Chennai_May_2022_df.Date, Hospital_Data_Chennai_May_2022_df.Center_ID),Hospital_Data_Chennai_May_2022_df.Total_available_capacity))
# # dict_Q_cxd

In [39]:
Q_cxd = [[2],[2]]
# for cat in categories:
#     c_d = []
#     for day in days:
#         if (day,cat) in dict_Q_cxd:
#             c_d.append(dict_Q_cxd[(day,cat)])
#         else:
#             c_d.append(0)
#     Q_cxd.append(c_d)

In [40]:
instance = VaccineAllocInstance(n,c,d,q,availability,belongsToCatagory,Q_d,Q_c,Q_cxd,agents_utility_value,delta)

In [41]:
LP1 = LPOnlineMaxUtility(instance)
# LP1 = LPOnlineMaxUtility_1_by_del(instance)

In [66]:
start = tm.perf_counter()
sol = LP1.solve()
end = tm.perf_counter()
print("Total time taken: ",end - start)

Setting up LP...
Creating variables...
Creating constraints...
Solving LP...
Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/vishwa/.local/lib/python3.10/site-packages/pulp/apis/../solverdir/cbc/linux/64/cbc /tmp/b4fdb3b0bdd64cd098d020f6ed69fe82-pulp.mps max timeMode elapsed branch printingOptions all solution /tmp/b4fdb3b0bdd64cd098d020f6ed69fe82-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 19 COLUMNS
At line 97 RHS
At line 112 BOUNDS
At line 147 ENDATA
Problem MODEL has 14 rows, 34 columns and 57 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 12 (-2) rows, 20 (-14) columns and 40 (-17) elements
Perturbing problem by 0.001% of 3 - largest nonzero change 6.131727e-05 ( 0.0048307898%) - largest zero change 0
0  Obj -0 Dual inf 41.999047 (20)
3  Obj 11.999805
Optimal - objective value 12
After Postsolve, objective 12, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 12 - 3 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Done.
Total time taken:  0.009631291992263868

In [42]:
solution = pd.DataFrame(sol.Allocation, columns=[str(i) for i in range(1)])

NameError: name 'sol' is not defined

In [46]:
solution.to_pickle('Debug_sols/solution1_del.pkl')

In [67]:
print(sol.total_flow)
print(sol.total_utility)
solution

4.0
12.0

   0
0 -1
1 -1
2 -1
3 -1
4 -1
5 -1
6  1
7  0
8  1
9  0

In [194]:
LP2 = LPOfflineMaxUtility(instance)

In [195]:
start = tm.perf_counter()
sol2 = LP2.solve()
end = tm.perf_counter()
print("Total time taken: ",end - start)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/vishwa/.local/lib/python3.10/site-packages/pulp/apis/../solverdir/cbc/linux/64/cbc /tmp/c01d0facb25e43f2a194a1d453ee3c70-pulp.mps max timeMode elapsed branch printingOptions all solution /tmp/c01d0facb25e43f2a194a1d453ee3c70-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 19 COLUMNS
At line 97 RHS
At line 112 BOUNDS
At line 147 ENDATA
Problem MODEL has 14 rows, 34 columns and 57 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 12 (-2) rows, 20 (-14) columns and 40 (-17) elements
Perturbing problem by 0.001% of 1 - largest nonzero change 4.8101017e-05 ( 0.014430305%) - largest zero change 0
0  Obj -0 Dual inf 11.665844 (20)
5  Obj 3.4998509
Optimal - objective value 3.5
After Postsolve, objective 3.5, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 3.5 - 5 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Total time taken:  0.00836481200531125

In [198]:
solution_off = pd.DataFrame(sol2.Allocation, columns=[str(i) for i in range(1)])

In [195]:
solution_off.to_pickle('Solution_offline_df_1_1_by_97_1_by_95_fed_to_offline.pkl')

In [200]:
print(sol2.total_flow)
print(sol2.total_utility)

4.0
3.5

In [199]:
solution_off

   0
0  0
1  0
2  1
3  1
4 -1
5 -1
6 -1
7 -1
8 -1
9 -1

In [42]:
sol.total_utility

6463.091933411123

In [97]:
availability_df = pd.read_pickle('data/availability_df.pkl')

In [114]:
agents_delta_value_df = pd.read_pickle('data/agents_delta_values_df_1_98_97.pkl')

In [115]:
agents_delta_value_df

      Age_group  Delta
0             0   1.00
1             0   1.00
2             0   1.00
3             1   0.98
4             0   1.00
...         ...    ...
9995          2   0.97
9996          2   0.97
9997          1   0.98
9998          2   0.97
9999          0   1.00

[10000 rows x 2 columns]

In [116]:
agents_delta_value_df['day_1'] = availability_df['day_1']

In [117]:
agents_delta_value_df = agents_delta_value_df[agents_delta_value_df.day_1 != 0]

In [118]:
age_2 = agents_delta_value_df[agents_delta_value_df.Age_group == 2]

In [119]:
len(age_2.Age_group)

615

In [120]:
#importing hospitals data
daily_supply_df = pd.read_pickle('data/daily_supply.pkl')
overall_quota_df = pd.read_pickle('data/overall_quota.pkl')
Hospital_Data_Chennai_May_2022_df = pd.read_pickle('data/Hospital_Data_Chennai_May_2022.pkl')

In [121]:
belongingness_df = pd.read_pickle('data/belongingness_df.pkl')

In [122]:
hosps1 = belongingness_df[[603898,617607,855907]]

In [123]:
hosps1 = hosps1.copy()

In [124]:
hosps1['Age'] = agents_delta_value_df['Age_group']

In [125]:
hosps1

      603898  617607  855907  Age
0          0       0       0  NaN
1          1       0       0  0.0
2          1       0       0  0.0
3          0       1       0  1.0
4          1       0       0  NaN
...      ...     ...     ...  ...
9995       0       1       0  NaN
9996       1       0       0  NaN
9997       0       0       0  1.0
9998       1       0       0  2.0
9999       1       0       0  0.0

[10000 rows x 4 columns]

In [130]:
hosp2 = hosps1[hosps1.Age == 2]

In [131]:
hosp2.sum(axis = 0)

603898     213.0
617607      68.0
855907      28.0
Age       1230.0
dtype: float64

In [162]:
hosp2 = hosp2.copy()

In [166]:
hosps1['day_1'] = availability_df['day_1']

In [185]:
hosp3 = hosps1[hosps1.Age ==0]

In [186]:
hosp3 = hosp3.copy()

In [187]:
hosp3[hosp3.day_1 == 1].sum(axis = 0)

603898    1123
617607     451
855907     169
Age          0
day_1     3355
dtype: int64